@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&family=M+PLUS+1:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Media desktop*/
@keyframes animated-gradient {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

*{
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container{
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0 40px;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #E83336, #E87233, #E85233 );
    background-size: 500%;
    background-repeat: none;
    animation: animated-gradient 15s linear infinite;
}

.white-board{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    height: 680px;
    width: 1350px;
    background-color: #FCFCFC;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tutorial-button{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 8px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    color: #FCFCFC;
    background-color: #E83336;
    height: 35px;
    width: 180px;
    margin: 30px;
}

.tutorial-button:hover{
    transition: ease 0.3s;
    background-color: #f5884e;
}

.tutorial-button:not(:hover){
    transition: ease 0.3s;
}

.scantxt-text{
    padding: 30px;
    color: #E83336;
}

.menu-li{
    align-items: center;
    display: flex;
    list-style-type: none;
}

.menu-li li{
    cursor: pointer;
    font-weight: 500;
    margin: 10px;
}

.li-menu:hover{
    transition: ease 0.2s;
    color: #E83336;
}

.li-menu:not(:hover){
    transition: ease 0.2s;
}

.introduction-container{
    display: flex;
    align-items: center;
}

.intro-h1{
    font-size: 60px;
    padding: 30px;
}
